@import "@/assets/css/previewsvg.css";
@import "@/assets/css/main.css";
@import "@/assets/css/radix-modal.css";

@property --theme-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #f5f5f5;
}

@property --highlight-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #f5f5f566;
}

@property --ui-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #111111;
}

:root {
	--theme-color: #f5f5f5;
	--ui-color: #111111;
  --highlight-color: #f5f5f577;
}

body {
  font-size: 15px !important;
}

.dropdown-link {
  cursor: pointer;
}

body {
  box-sizing: border-box;
}

.svg-aspect-ratio {
  aspect-ratio: 3 / 4;
}

input::placeholder {
  opacity: 0.4;
}

*::selection {
  color: white;
  background-color: black;
}
* {
  user-select: none;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}
    
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.disabled,
.artwork-preview img,
.artwork-preview img,
.select-icon {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
p *,
.highlight-text,
.seed-touchable,
.text-list-item,
.text-list-item * {
  user-select: text;
}

.artwork-preview img {
  opacity: 1;
}

.seed-indicator,
.seed-indicator,
.editor-wrapper,
.editor,
.navbar,
.navbar-container,
.nav-menu {
  pointer-events: none;
}

.reset,
.editor-wrapper,
.editor-inner > div,
.seed-touchable,
.g2-ui-button,
.navbar-container *:not(.nav-menu),
.z-nav-link,
.nav-menu * {
  pointer-events: auto;
}

div[data-radix-popper-content-wrapper] {
  z-index: 10!important;
}


.seed {
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: auto;
}

.grid b {
  display: block;
  border: 1px #a9a9a9 solid;
  border-top: 1px #9b9b9b solid;
  border-top: 1px #9b9b9b solid;
}

.modal {
  pointer-events: none;
}

.modal.show {
  pointer-events: auto;
}

.modal .modal-inner {
  opacity: 0;
  transform: translate(0, 30px);
  transition: all 0.85s ease-in-out 0.35s;
}

.modal.show .modal-inner {
  opacity: 1;
  transform: translate(0, 0);
}


/* html:has(svg.creation), */
/* body:has(svg.creation), */
/* body:has(svg.creation) .nav-menu, */
/* body:has(svg.creation) .dropdown-link, */
/* body:has(svg.creation) .colorbkg { */
/*   background-color: #f5f5f5; */
/* } */

/* html:has(svg.destruction), */
/* body:has(svg.destruction), */
/* body:has(svg.destruction) .nav-menu, */
/* body:has(svg.destruction) .dropdown-link, */
/* body:has(svg.destruction) .colorbkg, */
/* body:has(svg.destruction) .layer-grid-wrap { */
/*   background-color: #ffb4c6; */
/* } */
/* body:has(svg.destruction) .btn-layer.selected, */
/* body:has(svg.destruction) .ui-button.selected { */
/*   color: #ffb4c6; */
/* } */

/* html:has(svg.perception), */
/* body:has(svg.perception), */
/* body:has(svg.perception) .nav-menu, */
/* body:has(svg.perception) .dropdown-link, */
/* body:has(svg.perception) .colorbkg, */
/* body:has(svg.perception) .layer-grid-wrap { */
/*   background-color: #b6e9c9; */
/* } */
/* body:has(svg.perception) .btn-layer.selected, */
/* body:has(svg.perception) .ui-button.selected { */
/*   color: #b6e9c9; */
/* } */

/* html:has(svg.protection), */
/* body:has(svg.protection), */
/* body:has(svg.protection) .nav-menu, */
/* body:has(svg.protection) .dropdown-link, */
/* body:has(svg.protection) .colorbkg, */
/* body:has(svg.protection) .layer-grid-wrap { */
/*   background-color: #bfd6f5; */
/* } */
/* body:has(svg.protection) .btn-layer.selected, */
/* body:has(svg.protection) .ui-button.selected { */
/*   color: #bfd6f5; */
/* } */

/* html:has(svg.passion), */
/* body:has(svg.passion), */
/* body:has(svg.passion) .nav-menu, */
/* body:has(svg.passion) .dropdown-link, */
/* body:has(svg.passion) .colorbkg, */
/* body:has(svg.passion) .layer-grid-wrap { */
/*   background-color: #fdb9f9; */
/* } */
/* body:has(svg.passion) .btn-layer.selected, */
/* body:has(svg.passion) .ui-button.selected { */
/*   color: #fdb9f9; */
/* } */

/* html:has(svg.fortune), */
/* body:has(svg.fortune), */
/* body:has(svg.fortune) .nav-menu, */
/* body:has(svg.fortune) .dropdown-link, */
/* body:has(svg.fortune) .colorbkg, */
/* body:has(svg.fortune) .layer-grid-wrap { */
/*   background-color: #f7df9c; */
/* } */
/* body:has(svg.fortune) .btn-layer.selected, */
/* body:has(svg.fortune) .ui-button.selected { */
/*   color: #f7df9c; */
/* } */

/* html:has(svg.wisdom), */
/* body:has(svg.wisdom), */
/* body:has(svg.wisdom) .nav-menu, */
/* body:has(svg.wisdom) .dropdown-link, */
/* body:has(svg.wisdom) .colorbkg, */
/* body:has(svg.wisdom) .layer-grid-wrap { */
/*   background-color: #bdb2f3; */
/* } */
/* body:has(svg.wisdom) .btn-layer.selected, */
/* body:has(svg.wisdom) .ui-button.selected { */
/*   color: #bdb2f3; */
/* } */

/* html:has(svg.transformation), */
/* body:has(svg.transformation), */
/* body:has(svg.transformation) .nav-menu, */
/* body:has(svg.transformation) .dropdown-link, */
/* body:has(svg.transformation) .colorbkg, */
/* body:has(svg.transformation) .layer-grid-wrap { */
/*   background-color: #a4f5f4; */
/* } */
/* body:has(svg.transformation) .btn-layer.selected, */
/* body:has(svg.transformation) .ui-button.selected { */
/*   color: #a4f5f4; */
/* } */

/* html:has(svg.resilience), */
/* body:has(svg.resilience), */
/* body:has(svg.resilience) .nav-menu, */
/* body:has(svg.resilience) .dropdown-link, */
/* body:has(svg.resilience) .colorbkg, */
/* body:has(svg.resilience) .layer-grid-wrap { */
/*   background-color: #c5c5cf; */
/* } */
/* body:has(svg.resilience) .btn-layer.selected, */
/* body:has(svg.resilience) .ui-button.selected { */
/*   color: #c5c5cf; */
/* } */

/* html:has(svg.eternity), */
/* body:has(svg.eternity), */
/* body:has(svg.eternity) .nav-menu, */
/* body:has(svg.eternity) .dropdown-link, */
/* body:has(svg.eternity) .colorbkg, */
/* body:has(svg.eternity) .layer-grid-wrap { */
/*   background-color: #959499; */
/* } */
/* body:has(svg.eternity) .btn-layer.selected, */
/* body:has(svg.eternity) .ui-button.selected { */
/*   color: #959499; */
/* } */

body .dropdown-link.z--current {
  background-color: #000000 !important;
}

.advanced.selected {
  height: auto;
  width: 100%;
}

body:has(.advanced.selected) .app-pane.right {
  position: absolute;
  opacity: 0;
  pointer-events: none !important;
}

body:has(.advanced.selected) .app-pane.right * {
  pointer-events: none !important;
}

/*body .randomize{width:auto}
  body .basic-actions{flex-direction:column}
  body .basic-actions .ui-button{width:150px}*/
body:has(.advanced.selected) .basic-actions {
  flex-direction: row;
}

body:has(.advanced.selected) .randomize {
  width: 100%;
}

body:has(.advanced.selected) .basic-actions {
  height: auto;
}

body:has(.advanced.selected) .basic-actions {
  height: auto;
}

body:has(.advanced.selected) .app-pane {
  margin-bottom: 0;
}

body:has(.advanced.selected) .seed-indicator {
}

@keyframes colorShift {
  from {
    filter: contrast(95%) saturate(100%) hue-rotate(-10deg);
  }
  50% {
    filter: contrast(95%) saturate(95%) hue-rotate(10deg);
  }
  to {
    filter: contrast(95%) saturate(100%) hue-rotate(-10deg);
  }
}

@keyframes colorCycle {
  from {
    filter: contrast(95%) saturate(95%) hue-rotate(0deg);
  }
  to {
    filter: contrast(95%) saturate(95%) hue-rotate(360deg);
    stroke-dashoffset: 1000;
  }
}

body .colorbkg {
  animation: colorShift 9.6s linear infinite;
}

body:has(svg.pauseColor) .colorbkg {
  animation: none;
}

@keyframes colorCycleClone {
  from {
    filter: contrast(95%) saturate(95%) hue-rotate(0deg);
  }
  to {
    filter: contrast(95%) saturate(95%) hue-rotate(360deg);
    stroke-dashoffset: 1000;
  }
}

.queue-container {
  animation: revealItem 0.2s ease-in;
}
@keyframes revealItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.queue-item .queued-seed-number {
  width: 100%;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.queue-item.selected .queue-reset {
  background-image: url("/icons/icon-minus.svg");
}
@media screen and (min-width: 992px) {
  body .nav-menu {
    background-color: transparent !important;
  }
}

@media screen and (max-width: 767px) {
  .nav-dropdown-item:nth-child(2) {
    border-bottom: none;
    padding-bottom: none;
  }
}

.set-queue-item-container:has(.select:active) #checkmark path {
  stroke: #fff;
}

.editor #select-icon,
#checkmark {
  pointer-events: none;
}

#checkmark path {
  transition: stroke 0.5s linear;
}

li.queue-item:hover .queue-reset {
  opacity: 0.1;
}
li.queue-item .queue-reset:hover {
  opacity: 1;
}

.app-pane, .navbar, .seed-indicator {
  opacity: 0;
  animation: uiLoad 1s ease-out 0s forwards;
}

@keyframes seedLoad {
  from {opacity:0;transform:translateY(15px)}
  to {opacity:1;transform:translateY(0)}
}

@keyframes uiLoad {
  from {opacity:0}
  to {opacity:1}
}



@media screen and (max-width: 478px) {
  .colorbkg {
    transition: background-color 0s linear;
  }

  body:has(svg.creation) #checkmark path {
    stroke: #f5f5f5;
  }
  body:has(svg.destruction) #checkmark path {
    stroke: #ffb4c6;
  }
  body:has(svg.perception) #checkmark path {
    stroke: #b6e9c9;
  }
  :has(svg.protection) #checkmark path {
    stroke: #bfd6f5;
  }
  body:has(svg.passion) #checkmark path {
    stroke: #fdb9f9;
  }
  body:has(svg.fortune) #checkmark path {
    stroke: #f7df9c;
  }
  body:has(svg.wisdom) #checkmark path {
    stroke: #bdb2f3;
  }
  body:has(svg.transformation) #checkmark path {
    stroke: #a4f5f4;
  }
  body:has(svg.resilience) #checkmark path {
    stroke: #c5c5cf;
  }
  body:has(svg.eternity) #checkmark path {
    stroke: #959499;
  }

  .set-queue-item-container:has(.select:active) #checkmark path,
  .set-queue-item-container:has(.disabled) #checkmark path {
    stroke: #000;
  }
}

@font-face {
  font-family: "Fa Solid 900";
  src: url("/fonts/fa-solid-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* .z-mobile-menu { */
/*   width: calc(100vw - 60px); */
/*   /1* padding: 30px; *1/ */
/*   border: 2px solid black; */
/*   /1* margin: 0 30px; *1/ */
/*   margin: 0 30px; */
/*   width: calc(100vw - 120px); */
/*   padding: 0; */
/*   font-weight: 700; */
/*   font-size: 16px; */
/* } */

@media screen and (max-width: 992px) {
  .z-mobile-menu {
    width: calc(100vw - 60px);
    /* padding: 30px; */
    border: 2px solid black !important;
    /* margin: 0 30px; */
    margin: 0 30px;
    width: calc(100vw - 120px);
    padding: 0 !important ;
    font-weight: 700;
    font-size: 16px;
  }

  .z-mobile-menu:before {
    content: "";
    background: red;
    width: 100%;
    /* height: 4000px; */
    z-index: 20;
    width: 100vw;
    /* width: 400px; */
    display: block;
    z-index: -40;
    height: 400px;
    position: absolute;
    left: -30px;
    margin: 0;
    padding: 0;
    left: -32px;
    /* width: calc(100vw + 2px); */
    margin-top: -30px;
    background: #f5f5f5;
    border-bottom: 2px solid black;
  }
}

@media screen and (max-width: 991px) {
  .z-mobile-menu-trigger__desktop {
    display: none;
  }
  .z-mobile-menu-trigger__mobile {
    display: block;
  }

  .z-mobile-menu-trigger__mobile .menu-button-2 {
    display: block;
  }
  .dropdown-toggle {
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .z-mobile-menu-trigger__desktop {
    display: block;
  }
  .z-mobile-menu-trigger__mobile {
    display: none;
  }
}

.dropdown-link {
  font-size: 16px;
  font-weight: 700;
}

// sizes="(max-width: 479px) 100vw, (max-width: 767px) 50vw, (max-width: 991px) 40px, (max-width: 1024) 50px, (max-width: 1440) 50px"

.collection-image-wrapper {
}

/* width: window_width - collection padding - tab padding */
/* height: width * 1.33335098777 */

@media screen and (max-width: 479px) {
  .collection-image-wrapper {
    width: calc(100vw - 40px - 20px);
    height: calc((100vw - 40px - 20px) * 1.33335098777);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .collection-image-wrapper {
    width: calc((100vw - 40px - 20px - 20px) / 2);
    height: calc((100vw - 40px - 20px - 20px) / 2 * 1.33335098777);
  }
}

@media screen and (min-width: 768px) and (max-width: 1067px) {
  .collection-image-wrapper {
    width: calc((100vw - 20px - 20px - 80px) / 5);
    height: calc((100vw - 20px - 20px - 80px) / 5 * 1.33335098777);
  }
}

@media screen and (min-width: 1068px) and (max-width: 1439px) {
  .collection-image-wrapper {
    width: calc((1024px - 80px) / 5);
    height: calc((1024px - 80px) / 5 * 1.33335098777);
    /* Set width for this breakpoint */
  }
}

@media screen and (min-width: 1440px) {
  .collection-image-wrapper {
    width: calc((1200px - 80px) / 5);
    height: calc((1200px - 80px) / 5 * 1.33335098777);
  }
}

.collection-image-wrapper {
  perspective: 500px;
  margin: 0; /* Add your desired margin value */
}

.collection-image {
  transition: transform 0.4s ease;
  /* width: 600px; /1* Adjust the width as needed *1/ */
  /* height: auto; /1* Maintain aspect ratio *1/ */
}

body {
  overflow: auto !important;
}

@media screen and (max-width: 479px) {
  .tabs-content {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .collection-image-wrapper {
    width: calc(100vw - 40px - 20px);
    height: calc((100vw - 40px - 20px) * 1.33335098777);
  }
}

@media screen and (max-width: 480px) {
  body {
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    padding-bottom: 120px;
  }
}

.wallet-approve-message:hover {
  cursor: pointer;
  opacity: 0.7;
}

.mint-preview {
  height: 190px !important;
}
