.previewLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.previewLoader.loading {
  opacity: 1;
}

.previewLoader span {
  display: block;
  background: #000000ff;
  width: 3px;
  height: 100%;
  border-radius: 14px;
  margin-right: 5px;
  float: left;
  margin-top: 25%;
}

.previewLoader span:last-child {
  margin-right: 0px;
}


.previewLoader span:nth-child(1) { animation: load 1.2s 1.4s infinite ease-in-out; }
.previewLoader span:nth-child(2) { animation: load 1.2s 1.2s infinite ease-in-out; }
.previewLoader span:nth-child(3) { animation: load 1.2s 1s infinite ease-in-out; }
.previewLoader span:nth-child(4) { animation: load 1.2s 0.8s infinite ease-in-out; }
.previewLoader span:nth-child(5) { animation: load 1.2s 0.6s infinite ease-in-out; }
.previewLoader span:nth-child(6) { animation: load 1.2s 0.4s infinite ease-in-out; }
.previewLoader span:nth-child(7) { animation: load 1.2s 0.2s infinite ease-in-out; }
.previewLoader span:nth-child(8) { animation: load 1.2s 0s infinite ease-in-out; }
.previewLoader span:nth-child(9) { animation: load 1.2s 0.2s infinite ease-in-out; }
.previewLoader span:nth-child(10) { animation: load 1.2s 0.4s infinite ease-in-out; }
.previewLoader span:nth-child(11) { animation: load 1.2s 0.6s infinite ease-in-out; }
.previewLoader span:nth-child(12) { animation: load 1.2s 0.8s infinite ease-in-out; }
.previewLoader span:nth-child(13) { animation: load 1.2s 1s infinite ease-in-out; }
.previewLoader span:nth-child(14) { animation: load 1.2s 1.2s infinite ease-in-out; }
.previewLoader span:nth-child(15) { animation: load 1.2s 1.4s infinite ease-in-out; }

@keyframes load {
  0% {
    background: #00000000;
    margin-top: 9%;
    height: 10%;
  }
  50% {
    background: #000000ff;
    height: 100%;
    margin-top: 0%;
  }
  100% {
    background: #00000000;
    height: 10%;
    margin-top: 9%;
  }
}